* {
  border: none;
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  min-height: 0px;
  border-radius: 0;
  font-size: 14px;
  padding: 0px;
}

#cpu,
#memory,
#temperature,
#custom-power {
  color: #f2f2f2;
}

window#waybar {
  background-image: linear-gradient(to bottom, #141216 100%);
  border-radius: 14px;
  padding: 0px;
  border-style: none;
  background: transparent;
}

#custom-battery,
#network,
#clock,
#tray,
#pulseaudio {
    background: rgba(28, 04, 70, 0.7);

  margin: 3px;
  margin-right: 0px;
  padding: 6px ;
  border-radius: 14px;
  color: #d8cab8;

  border-style: none;
  transition-duration: 120ms;
}

#tray menu {
  background-color: #141216;
  color: #d8cab8;
}
#tray menu menuitem {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 3px;
  color: #d8cab8;
  border-radius: 4px;
  border-style: solid;
  border-color: #27232b;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #27232b 25%);
  color: #ac82e9;
  font-weight: bold;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #d8cab8;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #8f56e1;
}
#workspaces button.focused {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.active {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fcb167;
}

